
.galeria__card{
    position: relative;
    flex-basis: 32%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.galeria__galeriaImagen{
    width: 100%;
    height: 65%;
    box-sizing: border-box;
    transition: all 200ms ease-in-out;
    border-radius: 0.5rem;
    overflow: hidden;
}

.galeria__link{
    width: 100%;
    height: 100%;
}

.galeria__imagen{
    width: 100%;
}

.galeria__title{
    font-size: 1.6rem;
    padding: 1.5rem 0;
    font-weight: bold;
}

.card__descripcion{
    position: absolute;
    bottom: 0;
    display: none;
}