
/*SCROLL CHROME*/
.content__page::-webkit-scrollbar{
    width: 25px;
    background: transparent;
}

.content__page::-webkit-scrollbar-thumb{
    border: 10px solid transparent;
    box-shadow: none;
    border-radius: 40px;
}

.content__page:hover::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 0 10px var(--color-scrollbar);
}

.content__page:hover::-webkit-scrollbar-thumb:hover{
    border: 8px solid transparent;
    box-shadow: inset 0 0 0 10px var(--color-secondary);
}

.content__page::-webkit-scrollbar-track{
    margin-top: 40px;
    margin-bottom: 40px;
}

/*ESTILOS DEL CONTENIDO*/
.content__page{
    min-height: 100%;
    background-color: var(--color-principal);
    border-radius: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__estudios{
    height: 100%;
    min-height: 100%;
    overflow: scroll;
    padding: 6rem;
    padding-right: 3rem;
    display: block;
}

/*SECCION ESTUDIOS*/

.estudios__header{
    display: inline-block;
    margin-bottom: 4.5rem;
}

.header__title{
    font-size: 3.2rem;
    position: relative;
}

.header__title::after{
    content: "";
    position: absolute;
    top: 20px;
    right: -25px;
    width: 50px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secondary), var(--color-secondary) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    opacity: 0.5;
}

/*ESTILOS A LOS TITLES Y SUBTITLES*/

.resumen__subHeader{
    display: inline-block;
    position: relative;
    margin-bottom: 2.5rem;
}

.resumen__subTitle{
    font-size: 2.1rem;
}

.resumen__subTitle::after{
    content: "";
    position: absolute;
    top: 15px;
    right: 0;
    width: 30px;
    height: 20px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secondary), var(--color-secondary) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    opacity: 0.5;
}

.title__color{
    color: var(--color-secondary);
}

/*ESTILOS LEFT Y RIGHT*/

.resumen__container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

/*ESTILOS IZQUIERDA*/
.resumen__left{
    flex-basis: 58%;
    margin-right: 1.5rem;
}

.resumen__timelines{
    margin-bottom: 5rem;
}

.timelines__timeline{
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
}

.timeline__header{
    flex-basis: 30%;
    text-align: right;
    padding-right: 2.5rem;
}

.timeline__year{
    margin: 0.3rem 0;
    line-height: 1.9rem;
    font-size: 1.4rem;
}

.timeline__company{
    display: block;
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--color-company);
}

.timeline__description{
    width: 70%;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
}

.timeline__title{
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
}

.timeline__text{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.timeline__divide{
    position: absolute;
    left: 30%;
    top: 0;
    bottom: -18px;
    width: 0.1rem;
    background-color: var(--color-secondary);
}

.timeline__divide::before{
    position: absolute;
    margin-top: 0.4rem;
    margin-left: -0.8rem;
    content: "";
    width: 1.7rem;
    height: 1.7rem;
    background-color: var(--color-secondary);
    border-radius: 10rem;
    opacity: 0.25;
}

.timeline__divide::after{
    position: absolute;
    content: "";
    margin-top: 0.8rem;
    margin-left: -0.4rem;
    width: 0.9rem;
    height: 0.9rem;
    background-color: var(--color-principal);
    border-radius: 10rem;
    border: 2px solid var(--color-secondary);
    opacity: 1;
}

/*ESTILOS DERECHA*/
.resumen__right{
    flex-basis: 41%;
    padding: 0 1.5rem;
}

.resumen__skills{
    width: 100%;
    margin-bottom: 3rem;
}

.skills__title{
    display: flex;
    justify-content: space-between;
}

.skills__text{
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin-bottom: 0.4rem;
}

.skills__number{
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 0.4rem;
    color: var(--color-subtitle);
}

.skills__progressbar{
    height: 1rem;
    border: 1px solid var(--color-secondary);
    border-radius: 1rem;
    background-color: var(--color-principal);
    margin-bottom: 1.5rem;
}

.skills__porcentaje{
    height: 0.8rem;
    background-color: var(--color-secondary);
    border: 2px solid var(--color-principal);
    border-radius: 1rem;
}

.skills__porcentajeP1{
    width: 90%;
}

.skills__porcentajeP2{
    width: 40%;
}

.skills__porcentajeP3{
    width: 80%;
}

.skills__porcentajeP4{
    width: 90%;
}

.skills__porcentajeP5{
    width: 60%;
}

.knowledges__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.knowledges__option{
    padding: 0.4rem 1rem;
    margin: 0.3rem;
    background-color: var(--color-secondary);
    border-radius: 0.3rem;
    color: var(--color-principal);
    font-size: 1.3rem;
    transition: 100ms;
    cursor: default;
}

.knowledges__option:hover{
    transform: scale(1.01);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}

/*RESUMEN CERTIFICADOS*/

.certificates__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.certificates__certificate{
    height: 15rem;
    flex-basis: calc(50% - 1.5rem);
    border-radius: 0.8rem;
    overflow: hidden;

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    transition: ease-in 50ms;
}

.certificates__certificate:hover{
    cursor: pointer;
    transform: scale(0.95);
    background-color: #CECACA;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
}

.certificates__certificate:active{
    background-color: var(--color-principal);
}

.certificate__logo{
    flex-basis: 30%;
    background-color: var(--color-background-certificate);
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificate__img{
    width: 15rem;
    height: 100%;
}

.certificate__content{
    padding: 1.5rem 2rem;
}

.certificate__title{
    font-size: 1.5;
    margin-bottom: 0.5rem;
}

.certificate__id{
    display: block;
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
    color: var(--color-subtitle);
}

.certificate__Fecha{
    font-size: 1rem;
    color: var(--color-subtitle);
    opacity: 0.8;
}