
.content_page{
    min-height: 100%;
    background-color: var(--color-principal);
    border-radius: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.page__name{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.page__job{
    font-size: 2.1rem;
    font-weight: normal;
    color: var(--color-subtitle);
}