
.content_page{
    min-height: 100%;
    background-color: var(--color-principal);
    border-radius: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.page__name{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.page__job{
    font-size: 2.1rem;
    font-weight: normal;
    color: var(--color-subtitle);
}

@media ( max-width: 1060px){
    
    .content__page{
        border-radius: 0;
        height: 100vh;
    }   
}

@media ( max-width: 480px){

    .page__name{
        font-size: 4rem;
        line-height: 5.6rem;
        text-align: center;
    }

}