/*MENU NAVEGACIÓN LATERAL*/
.layout__menu{
    display: block;
    position: absolute;
    top: 0;
    right: -105px;
    min-width: 11rem;
    background-color: var(--color-transparent);
}

.menu__list{
    position: relative;
    width: 60%;
    min-height: 32rem;
    background-color: var(--color-principal);
    box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.15);
    border-radius: 6rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 2.5rem;
}

.menu__option{
    display: block;
    width: 100%;
    text-align: center;
}

.menu__link{
    position: relative;
}

.menu__icon{
    color: var(--color-icon);
    font-size: 2.8rem;
    transition: all 300ms ease-in-out;
}

.menu__option:hover .menu__icon{
    color: var(--color-secondary);
}

.menu__overlay{
    display: block;
    position: absolute;
    right: 0;
    margin-top: -3rem;
    padding: 0.5rem 1rem;
    opacity: 0;
    color: black;
    background-color: var(--color-secondary);
    white-space: nowrap;
    color: var(--color-principal);
    border-radius: 2rem;
    transition: all 300ms ease-in-out;
    z-index: 1;
}

.menu__option:hover .menu__overlay{
    opacity: 1;
    right: 100%;
}

.active .menu__icon{
    color: var(--color-secondary);
    animation: activo infinite 1.5s;
}

@keyframes activo{
    0%{
        transform: scale(1);
    }50%{
        transform: scale(1.2);
    }100%{
        transform: scale(1);
    }
}