
/*SCROLL CHROME*/
.content__page::-webkit-scrollbar{
    width: 25px;
    background: transparent;
}

.content__page::-webkit-scrollbar-thumb{
    border: 10px solid transparent;
    box-shadow: none;
    border-radius: 40px;
}

.content__page:hover::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 0 10px var(--color-scrollbar);
}

.content__page:hover::-webkit-scrollbar-thumb:hover{
    border: 8px solid transparent;
    box-shadow: inset 0 0 0 10px var(--color-secondary);
}

.content__page::-webkit-scrollbar-track{
    margin-top: 40px;
    margin-bottom: 40px;
}

/*ESTILOS DEL CONTENIDO*/
.content__page{
    min-height: 100%;
    background-color: var(--color-principal);
    border-radius: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content__portafolio{
    height: 100%;
    min-height: 100%;
    overflow: scroll;
    padding: 6rem;
    padding-right: 3rem;
    display: block;
}

/*SECCION ESTUDIOS*/

.portafolio__header{
    display: inline-block;
    margin-bottom: 4.5rem;
}

.header__title{
    font-size: 3.2rem;
    position: relative;
}

.header__title::after{
    content: "";
    position: absolute;
    top: 20px;
    right: -25px;
    width: 50px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secondary), var(--color-secondary) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    opacity: 0.5;
}

/*CONTENIDO PORTAFOLIO*/
.portafolio__navbar{
    margin-bottom: 3rem;
}

.portafolio__menu{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1.5rem;
}

.portafolio__option{
    font-size: 1.5rem;
    opacity: 0.7;
}

.portafolio__btn{
    cursor: pointer;
    transition: 100ms;
}

.portafolio__btn:hover{
    color: var(--color-secondary);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
    opacity: 0.9;
}

.active{
    font-weight: 600;
    opacity: 1;
}

@media ( max-width: 1060px){
    
    .content__page{
        border-radius: 0;
        height: 100vh;
    }   
}
